<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	 
	 <typeAliases>		
		<typeAlias type="com.company.sawon.model.vo.Insa" alias="Insa"/>
		<typeAlias type="com.company.sawon.model.vo.Insacom" alias="Insacom"/>
		<typeAlias type="com.company.sawon.model.vo.Yoo" alias="Yoo"/>				
	</typeAliases>
	 
	<mappers>
		<mapper resource="mybatis/mappers/sawon-mapper.xml" />
	</mappers>
	
</configuration>
